# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled executables
fibheap

src/.cproject
src/.project

*.gv
*.ps

src/test_b_file
src/test_f_file

aflevere/
q

*.aux
*.log
src/OLD/*
src/*.csv
src/*.gz


Aalgo.*
